Ignore the actual environment file with all our secrets!

.env

--- Python ---

Ignore the virtual environment folder

venv/
*.venv/
.venv/

Ignore Python cache files

pycache/
*.py[cod]

--- Mac OS ---

.DS_Store

--- VS Code ---

.vscode/